body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
}

/*navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 1.5em 5em;
    background-color: #f0f0ff;
}

nav .website__name {
    cursor: pointer;
}

nav .logo {
    width: 6em;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav .website__name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
}

nav .menu {
    font-size: 1em;
    font-weight: 300;
}

nav li {
    margin-right: 1.5em;
    cursor: pointer;
}

nav li:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 0px #9146ff;
    transition: 0.5s all;
}

/*page title*/
.title {
    text-align: center;
    padding-top: 5em;
}

.title h1 {
    font-size: 4em;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.3em;
}

.title h4 {
    font-size: 2em;
    font-weight: 300;
    color: #000000;
}

/*live stream boxes*/
.container {
    margin-top: 3em;
}
.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 2em;
    filter: brightness(70%)
}

.box:hover {
    cursor: pointer;
    box-shadow: 10px 10px 0px #9146ff;
    transition: 0.5s all;
    filter: brightness(100%);
}

.box__screen {
    width: 100%;
}

.box__bottom {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-right: 0.2em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    overflow: hidden;
}

.icon {
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
    border-radius: 50%;
}

.information h5 {
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 0.3em;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.information p {
    font-size: 1em;
    font-weight: 300;
    color: #8205B4;
}

/*burger menu*/
.burger {
    display: none;
    border: solid #5e5e5fa4 0.1em;
    border-radius: 10%;
    padding: 0.4em 0.5em;
}

#toggle {
    display: none;
}

/*footer*/
footer {
    text-align: center;
    padding: 2em;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 0.8em;
    }

    nav {
        align-items: baseline;
        padding: 1.5em 1.5em;
    }

    .burger {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    #toggle:checked ~ .menu {
        position: absolute;
        max-width: 100%;
        top: 5em;
        right: 0em;
        background-color: #f0f0ff;
        display: flex;
        flex-direction: column;
        font-size: 1.8em;
        padding: 1em 0.5em;
    }

    .menu li {
        padding-bottom: 1em;
        margin-right: 0;
        font-weight: 700;
        color: #9146ff;
    }

    .content {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}