body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #3c3c3c;
}

.wrap {
  width: 50%;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  padding-top: 5em;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 88%;
  }
}

.text__area {
  padding-top: 2em;
}

#input__text {
  outline: none;
  border: none;
  box-sizing: border-box;
  border-bottom: solid 0.06em #dedede;
  width: 100%;
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: #f5f5f5;
}

#input__text:hover {
  background-color: #dedede;
}

input[type='text'] {
  font-size: 1.5em;
}

.list__section {
  padding-top: 3em;
}

.list__content {
  display: flex;
  align-items: center;
  padding: 1em 0.5em 1em 2em;
}

.list__content:hover {
  background-color: #f5f5f5;
}

.list__section input {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  margin: 0;
}

.list__text {
  font-size: 1.3em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  line-height: normal;
  cursor: pointer;
}

.remove {
  cursor: pointer;
  padding-right: 0.5em;
}

.remove:hover {
  transform: scale(1.1);
}

.finish .list__text {
  text-decoration:line-through;
  color: #979797;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em 0em 3em 0em;
  width: 70%;
}

footer .info {
  line-height: normal;
  font-size: 0.8em;
  text-align: right;
}